*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
}
/****************************************
 *      Navigation Bar                  *
 ****************************************/
.navbar {
    padding: 0 40px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #C6D8D4;

}
.navbar-links li:hover a{
    color: black;

}
.hamburger {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.hamburger .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .hamburger {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}
/****************************************
 *      Header (img + h1)               *
 ****************************************/
header {
    top: 0;
    position: relative;
    width: 100%;
    height: 700px;
    overflow-x: hidden;
    background-image: url("images/bg.jpg");
    background-size: cover;
}
#header-image {
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;
    position: absolute;
}
#header-image h1 {
    display: flex;
    left: 10%;
    bottom: 20%;
    height: 2.8em;
    width: 100%;
    color: white;
    z-index: 2;
    position: inherit;
    align-items: center;
}
/****************************************
 *      About Me ()                      *
 ****************************************/
#about {
    border: 2px solid black;
    display: flex;
    padding: 40px 220px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}
.about-me__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px
}

/****************************************
 *      Header (img + h1)               *
 ****************************************/
#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 20px 40px;
}
section h2 {
    font-size: 1.75rem;
    font-weight: bold;
}
.container-projects {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    overflow: hidden;
}
.project {
    width: 320px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    background-color: black;
    border: 2px solid black;
    border-radius: 10px;
    padding-top: 20px
}
.project img {
    width: 80%;
    padding: 20px 0;
}
.project > button {
    background-color: black;
    border: 2px solid #C6D8D4;
    height: 40px;
    padding: 4px 8px;
    color: white;
    display: block;
    cursor: pointer;
    outline: none;
    font-size: 1.12rem;
}
.project > button:hover {
    background-color: #C6D8D4;
    color: black;
}
#contacts {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
}
#contacts h2 {
    padding: 20px;
}
#contacts p {
    padding-bottom: 20px;
}
.socials {
    display: flex;
    justify-content: center;
}
.socials a {
    opacity: .5;
    padding: 0 10px;
}
footer {
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 2px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.window.active {
    transition: 500ms ease-in;
    transform: translate(-50%, -50%) scale(1);
}

.window-head {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}
.window-head .title {
    font-size: 1.25rem;
    font-weight: bold;
}
.window-head .close-button {
    cursor: pointer;
    border: none;
    outline: none   ;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.window-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;

}

#overlay.active {
    transition: 500ms ease-in;
    opacity: 1;
    pointer-events: all;
}
